// ------------------------------------------- Primary, Secondary and Normal Button
.btn {
  padding: 10px 1rem;
  border-radius: 5px;
  transition: 0.25s ease-in;
  &:hover {
    background: var(--theme);
    color: var(--white);
  }
}
// -------------------Btn Primary
.btn-primary {
  background: var(--theme);
  border: 2px solid var(--theme);
  color: var(--white);
  &:hover {
    background: var(--pure-white);
    color: #000;
  }
}
// -------------------Btn Secondary
.btn-secondary {
  border: 2px solid var(--theme);
  margin-right: 1rem;
}

// ------------------------------------------- Section H3 Title
.section__title {
  font-size: 28px;
  color: var(--backgroud);
  font-weight: 700;
  margin-bottom: 3.5rem;
}

// ------------------------------------------- Position Fixed Social Icons
.social__media {
  display: none;
  position: fixed;
  top: 48%;
  left: 1.5rem;
  transform: translateY(-50%);
  ul {
    display: block;
    li {
      margin-top: 1.3rem;
    }
    i {
      font-size: 2rem;
      color: var(--gray);
      &:hover {
        color: var(--theme);
      }
    }
    .dot {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: -3px;
        right: -2px;
        height: 12px;
        width: 12px;
        background: var(--theme);
        border-radius: 50%;
        border: 2px solid var(--backgroud);
      }
    }
  }
}
