.btn {
  padding: 10px 1rem;
  border-radius: 5px;
}
.btn-primary {
  background: var(--theme);
  border: 2px solid var(--theme);
  color: var(--white);
}
.btn-secondary {
  border: 2px solid var(--theme);
  margin-right: 1rem;
}
.section__title {
  font-size: 28px;
  color: var(--backgroud);
  font-weight: 700;
  margin-bottom: 3.5rem;
}

.social__media {
  display: none;
  position: fixed;
  top: 48%;
  left: 1.5rem;
  transform: translateY(-50%);
  ul {
    display: block;
    li {
      margin-top: 1.3rem;
    }
    i {
      font-size: 2rem;
      color: var(--gray);
      &:hover {
        color: var(--theme);
      }
    }
    .dot {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: -3px;
        right: -2px;
        height: 12px;
        width: 12px;
        background: var(--theme);
        border-radius: 50%;
        border: 2px solid var(--backgroud);
      }
    }
  }
}
